.cabecalho__container {
    background: var(--preto);
    width: 100%;
    padding: 2.5rem 3rem;
}

.cabecalho {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
}

.cabecalho__logo--icone {
    max-width: 16.25rem;
}

.cabecalho__navegacao {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.cabecalho__item a {
    color: var(--branco);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.botao-hamburguer {
    display: none;
    cursor: pointer;
}

.banner__img-wrapper {
    margin: 0;
}

.banner__img {
    max-width: 100%;
}

.banner__img-descricao {
    max-width: 75rem;
    color: var(--grafite, #222);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 6.875rem auto;
    padding: 0 1.5rem;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.ofertas {
    margin-bottom: 7rem;
}

.depoimentos__titulo,
.pagamento__titulo,
.destinos__titulo,
.busca__titulo,
.ofertas__titulo {
    color: var(--grafite);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 4rem;
}

.depoimentos__titulo--sublinhado,
.pagamento__titulo--sublinhado,
.busca__titulo--sublinhado {
    width: 11.25rem;
    height: 0.25rem;
    background: var(--vermelho);
    margin: 0 auto;
    margin-top: 1rem;
}

img {
    max-width: 100%;
}

.busca__categorias {
    margin-bottom: 7rem;

    display: flex;
    gap: 1.5rem;
}

.busca__categoria {
    width: 17.5rem;
    color: var(--grafite, #222);
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.5rem;
    background: var(--cinza-claro, #F5F5F5);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.material-symbols-outlined {
    color: var(--cinza-escuro, #8C8C8C);
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pagamento {
    margin-bottom: 7rem;
}

.pagamento__imagens--grupo,
.pagamento__condicoes {
    display: flex;
    gap: 1.5rem;
}

.pagamento__condicoes--destaque {
    color: var(--grafite, #222);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.pagamento__condicoes--detalhes {
    color: var(--grafite, #222);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    width: 24rem;
    max-width: 100%;
}

.pagamento__imagens--imagem-container {
    flex: 1;
}

.pagamento__imagens--imagem-destaque {
    margin-top: 1.25rem;
}

.pagamento__imagens--imagem {
    max-width: 100%;
}

.depoimentos {
    margin-bottom: 7rem;
}

.depoimentos__wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: stretch;
}

.depoimentos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depoimentos__texto {
    color: var(--grafite, #222);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.depoimentos__autor {
    margin-top: 0.75rem;
    display: flex;
    gap: 1.5rem;
}

.depoimentos__autor--foto {
    max-width: 5.375rem;
}

.depoimentos__autor--nome {
    color: var(--grafite, #222);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.footer__container {
    background: var(--preto);
    width: 100%;
    padding: 2rem 1.5rem;
    margin-top: -0.25rem;
}

.footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    color: var(--branco, #FFF);
}

.footer__logo-icon {
    max-width: 10rem;
    margin-bottom: 1rem;
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__text-info {
    color: var(--neutral-c, #F5F5F5);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    /* 160% */
}

.footer__social-media-container {
    text-align: center;
}

.footer__social-media-text {
    color: var(--neutral-c, #F5F5F5);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}