@media (max-width: 1000px) {
  .cabecalho__navegacao {
    display: none;
  }

  .botao-hamburguer {
    display: block;
  }

  .container {
    padding: 0 3.75rem;
  }

  .pagamento__condicoes {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 1.5rem;
  }
}